*.rails2
coverage.data
coverage/*
log/production.log
log/test.log
log/development.log
log/*.log
log/*.log.*
log/*.txt
log/*.pid
log/*
tmp/**/*
tmp/*.csv
tmp/*
.DS_Store
db/*.sqlite3
db/schema.rb
doc/api
doc/app
sphinx/*
.zeus.sock